
@{
	ViewBag.Title = "LocationPicker";
}

<form action="LatLong">
	<h3>Please input your latitude</h3>
	<input type="number" value="38.4247341" step=".0000001" name="latt" />
	<h3>Please input your longitude</h3>
	<input type="number" value="-84.9624086" step=".0000001" name="longg" />
	<br />
	<input type="submit" />
</form>